# Default owner for everything in the rep:

-       @kovad003

# FILES

# CSS files including subfulders stored

# in the /style folder belong to Hossein

/style/ @Coder-9574

# The index.html and README.md files belong to Daniel

index.html @kovad003
README.md @kovad003

# All files in the html directory belongs to Ashley

# including subfolders

/html/ Coder-AD-3000
